/* table of contents -----------------------------
1.トップ画面
------------------------------------------------ */

//1.トップ画面
#top {
    //トップ
    .mainImg {
        width: 100%;
        position: relative;
        ul {
            flex-wrap: wrap;
            li {
                width: 50%;
                &.mincho {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .outline {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .obi {
            position: absolute;
            width: 100%;
            &_inner {
                width: 100%;
                background: -webkit-linear-gradient(0deg, $purple2, $purple1);
                position: relative;
            }
            &_circle {
                background-color: $purple2;
                border-radius: 50%;
                position: absolute;
                p {
                    color: $white1;
                    line-height: 1;
                    &:nth-of-type(2) {
                        color: $gray1;
                        span {
                            color: $white1;
                        }
                    }
                }
            }
        }
    }
    //紹介エリア
    .boxIntro {
        background-color: $white1;
        img {
            border-radius: 50%;
        }
    }
    //LINE風エリア
    .cLine {
        &_list {
            &_item {
                align-items: center;
                .circle {
                    //border: 2px solid $purple3;
                    //background: $white1;
                    border-radius: 0;
                }
                &_shimamoto {
                    flex-direction: row-reverse;
                    .fukidashi {
                        margin-right: $wide*2;
                        @include sp {
                            margin-right: $wide;
                        }
                        &:before {
                            border: 14px solid transparent;
                            border-left: 18px solid $gray1;
                            z-index: -1;
                            @include pc {
                                right: -33px;
                            }
                            @include sp {
                                right: -26px;
                            }
                        }
                        &:after {
                            border: 12px solid transparent;
                            border-left: 16px solid $white1;
                            @include pc {
                                right: -28px;
                            }
                            @include sp {
                                right: -21px;
                            }
                        }
                    }
                }
                &_rena {
                    .fukidashi {
                        margin-left: $wide*2;
                        @include sp {
                            margin-left: $wide;
                        }
                        &:before {
                            border: 14px solid transparent;
                            border-right: 18px solid $gray1;
                            z-index: -1;
                            @include pc {
                                left: -33px;
                            }
                            @include sp {
                                left: -26px;
                            }
                        }
                        &:after {
                            border: 12px solid transparent;
                            border-right: 16px solid $white1;
                            @include pc {
                                left: -28px;
                            }
                            @include sp {
                                left: -21px;
                            }
                        }
                    }
                }
                .fukidashi {
                    position: relative;
                    display: inline-block;
                    padding: $moderate;
                    background: $white1;
                    border-radius: $moderate;
                    border: 2px solid $gray1;
                    &:before,
                    &:after {
                        @include beforeaftercontent;
                        @include positionabsolutex;
                    }
                }
            }
        }
    }
    //概要
    .boxs {
        .box_bbradius {
            background: $white1;
            strong {
                @include pc {
                    border-bottom: 2px solid $black1;
                }
                @include sp {
                    border-bottom: 1px solid $black1;
                }
            }
        }
        @include pc {
            margin-top: $wide*6;
        }
        @include sp {
            margin-top: $wide*1.8;
        }
        &_title {
            @include pc {
                border-top: 2px solid $purple2;
                border-bottom: 2px solid $purple2;
                padding: $wide*2 0;
                margin-bottom: $wide*3;
                font-size: 2.4rem;
            }
            @include sp {
                border-top: 1px solid $purple2;
                border-bottom: 1px solid $purple2;
                padding: $wide 0;
                margin-bottom: $wide*2;
                font-size: $huge_rem;
            }
        }
    }
    //テーブル
    table {
        width: 100%;
        color: $black2;
        th,
        td {
            width: 50%;
            border-bottom: 1px solid $white1;
        }
        th {
            background-color: $purple1;
            vertical-align: middle;
        }
        td {
            background-color: $lime2;
            .h_item {
                flex-wrap: wrap;
                li {
                    &:not(:last-of-type) {
                        margin-right: $moderate;
                    }
                }
            }
        }
    }
    //チェックアイコン
    .fa-check-square {
        color: $purple2;
    }
    //背景紫色
    .box_purple {
        background-color: $purple4;
    }
    //演技のレッスンで養うスキルは、さまざまなシーンで活かせます
    .sList {
        &_item {
            width: 100%;
            align-items: center;
            figure {
                width: 40%;
                img {
                    width: 80% !important;
                }
            }
            p {
                width: 55%;
            }
            &:nth-of-type(even) {
                flex-direction: row-reverse;
            }
        }
    }
    //SNS
    .snsList {
        justify-content: center;
        &_item {
            a {
                background-color: $purple2;
                justify-content: center;
                align-items: center;
                color: $white1;
            }
        }
    }
    @include pc {
        //紹介エリア
        .boxIntro {
            padding: $wide*3;
            &_title {
                margin-bottom: $wide*2;
            }
            img {
                width: $wide*10;
                border: 3px solid $purple3;
                margin-right: $wide*2;
            }
            li {
                align-items: center;
                &:first-of-type {
                    margin-bottom: $wide*2;
                }
            }
        }
        .mainImg {
            ul {
                li {
                    width: 25%;
                    &.mincho {
                        font-size: 2rem;
                        position: relative;
                        padding: $wide 0 0 $wide;
                    }
                }
            }
            .outline {
                border: 12px solid $purple1;
                width: 100%;
                height: 100%;
            }
            .obi {
                top: 254px;
                left: 0;
                &_inner {
                    height: $wide*4;
                }
                &_circle {
                    width: $wide*20;
                    height: $wide*20;
                    box-shadow: 0 0 14px rgba($white1, 0.9);
                    top: -80px;
                    right: 90px;
                    padding: $wide*4.4 0;
                    p {
                        font-size: $huge_rem;
                        &:nth-of-type(1) {
                            margin-bottom: $wide*1.4;
                        }
                        &:nth-of-type(2) {
                            margin-bottom: $wide*1.4;
                            line-height: 1.2;
                            padding-left: $wide*3.2;
                            span {
                                font-size: 2.8rem;
                            }
                        }
                    }
                }
            }
        }
        .fBox {
            position: relative;
            height: $wide*80;
            .fBox_item {
                position: absolute;
                img {
                    width: $wide*21;
                }
                p {
                    line-height: 1.3;
                    letter-spacing: -0.8px;
                    font-size: 2.4rem;
                }
                &1 {
                    background: url('../images/fukidashi1.png') no-repeat center;
                    background-size: 236px 188px;
                    width: 236px;
                    height: 188px;
                    top: 0;
                    left: 0;
                    padding-top: $wide*6.6;
                }
                &2 {
                    background: url('../images/fukidashi2.png') no-repeat center;
                    background-size: 285px 185px;
                    width: 285px;
                    height: 185px;
                    top: 0;
                    right: 0;
                    padding-top: $wide*3.4;
                }
                &3 {
                    background: url('../images/fukidashi3.png') no-repeat center;
                    background-size: 390px 144px;
                    width: 390px;
                    height: 144px;
                    top: 170px;
                    left: 27%;
                    padding-top: $wide*4.4;
                }
                &4 {
                    background: url('../images/fukidashi4.png') no-repeat center;
                    background-size: 247px 246px;
                    width: 247px;
                    height: 246px;
                    top: 240px;
                    left: 0;
                    padding-top: $wide*6;
                }
                &5 {
                    background: url('../images/fukidashi5.png') no-repeat center;
                    background-size: 264px 244px;
                    width: 264px;
                    height: 244px;
                    top: 240px;
                    right: 0;
                    padding-top: $wide*6.4;
                }
                &6 {
                    background: url('../images/fukidashi6.png') no-repeat center;
                    background-size: 318px 194px;
                    width: 318px;
                    height: 194px;
                    bottom: 30px;
                    left: 260px;
                    padding: 38px 0 0 58px;
                    p {
                        font-size: 4rem;
                    }
                }
                &_shimamoto {
                    bottom: $wide*3;
                    right: 30px;
                }
                &_rena {
                    &1 {
                        @include positionabsolutey;
                        top: 330px;
                    }
                    &2 {
                        bottom: $wide*3;
                        left: 30px;
                    }
                }
            }
        }
        .box {
            padding: $wide*6 $wide*5;
            &_title {
                font-size: 5rem;
                color: $purple2;
                margin-bottom: $wide*3;
            }
            //演技のレッスンって何をするの？
            &_lesson {
                dt,
                dd {
                    margin-bottom: $moderate;
                }
                dt {
                    position: relative;
                    margin-right: $wide*1.6;
                    span {
                        display: block;
                        font-size: $tiny_rem;
                        text-align: center;
                    }
                    .fa-check-square {
                        margin-right: 4px;
                    }
                    &:after {
                        content: ":";
                        display: block;
                        position: absolute;
                        top: -1px;
                        right: -10px;
                    }
                }
                dd {
                    &:nth-of-type(3) {
                        width: 80%;
                    }
                    &:nth-of-type(4) {
                        width: 66%;
                    }
                }
            }
            //日本ナレーション演技研究所とは
            &_about {
                .box_title {
                    color: $black1;
                    font-size: $huge_rem;
                    margin-bottom: 4px;
                }
                dt,
                dd {
                    &:not(:last-of-type) {
                        margin-bottom: 6px;
                    }
                }
                dt {
                    width: 24%;
                }
                dd {
                    width: 76%;
                }
            }
            //角丸線があるセクション
            &_bbradius {
                @include pc {
                    border-radius: $wide*1.2;
                    border: 4px solid $purple3;
                    padding: $wide*3;
                    margin-top: $wide*3;
                    &_title {
                        margin-bottom: $wide*2;
                    }
                    .h_item {
                        flex-wrap: wrap;
                    }
                }
            }
            //一例
            &_example {
                padding: 0;
                &_title {
                    background-color: $purple4;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    line-height: $wide*6;
                }
                &_list {
                    padding: $wide*2;
                    &_item {
                        margin: 8px 12px;
                    }
                }
            }
            //演技のレッスンって何をするの？
            .box_whattodo {
                dl {
                    dt,
                    dd {
                        margin-bottom: $wide*2;
                    }
                    dd {
                        width: 81%;
                    }
                }
            }
        }
        //演技のレッスンで養うスキルは、さまざまなシーンで活かせます
        .sList {
            &_item {
                font-size: $large_rem;
                justify-content: space-between;
                img {
                    display: block;
                    margin: 0 auto;
                }
                p {
                    font-size: 2.2rem;
                }
                &:nth-of-type(odd) {
                    figure {
                        margin-right: $wide;
                    }
                    p {
                        margin-left: $wide;
                    }
                }
                &:nth-of-type(even) {
                    figure {
                        margin-left: $wide;
                    }
                    p {
                        margin-right: $wide;
                    }
                }
                &:not(:last-of-type) {
                    margin-bottom: $wide*1.8;
                }
                &:nth-of-type(1) {
                    img {
                        width: $wide*34;
                    }
                }
                &:nth-of-type(2) {
                    img {
                        width: $wide*28;
                    }
                }
                &:nth-of-type(3) {
                    img {
                        width: $wide*32;
                    }
                }
                &:nth-of-type(4) {
                    img {
                        width: $wide*34;
                    }
                }
                &:nth-of-type(5) {
                    img {
                        width: $wide*34;
                    }
                }
                &:nth-of-type(6) {
                    img {
                        width: $wide*32;
                    }
                }
                &:nth-of-type(7) {
                    img {
                        width: $wide*30;
                    }
                }
                &:nth-of-type(8) {
                    img {
                        width: $wide*34;
                    }
                }
            }
        }
        //LINE風エリア
        .cLine {
            margin-top: $wide*4;
            &_list {
                &_item {
                    &:not(:last-of-type) {
                        margin-bottom: $wide*2;
                    }
                    .circle {
                        width: $wide*16;
                    }
                }
                .fukidashi {
                    padding: $wide*2;
                    font-size: $huge_rem;
                }
            }
        }
        //テーブル
        table {
            th,
            td {
                padding: $wide*2;
            }
            td {
                .h_item {
                    flex-wrap: wrap;
                    width: 300px;
                    li {
                        &:not(:last-of-type) {
                            margin-right: $moderate;
                        }
                    }
                }
            }
        }
        //注意点
        .atList,
        .atBox {
            margin-top: $wide;
            font-size: 1.4rem;
        }
        //SNS
        .snsList {
            padding: $wide*6 0 0;
            &_item {
                margin: 0 $wide*5;
                &:nth-of-type(1) {
                    a {
                        font-size: 5.2rem;
                    }
                }
                &:nth-of-type(2) {
                    a {
                        font-size: 6.4rem;
                    }
                }
                &:nth-of-type(3) {
                    a {
                        font-size: 6rem;
                    }
                }
                a {
                    width: $wide*10;
                    height: $wide*10;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        color: $purple2;
                        background-color: $white1;
                        border: 2px solid $purple2;
                    }
                }
            }
        }
    }
    @include sp {
        //紹介エリア
        .boxIntro {
            padding: $wide;
            letter-spacing: -0.4px;
            font-size: 3.7vw;
            &_title {
                margin-bottom: $wide;
            }
            img {
                width: $wide*6;
                //border: 2px solid $purple3;
                margin-right: 6px;
                border-radius: 0;
            }
            li {
                &:first-of-type {
                    margin-bottom: $wide;
                }
            }
        }
        .mainImg {
            ul {
                li {
                    width: 50%;
                    &.mincho {
                        font-size: 3.8vw;
                        padding-left: $wide*1.2;
                    }
                }
            }
            .outline {
                border: 8px solid $purple1;
            }
            .obi {
                top: 36%;
                left: 0;
                width: 100vw;
                &_inner {
                    height: $wide*3;
                }
                &_circle {
                    width: $wide*15;
                    height: $wide*15;
                    box-shadow: 0 0 8px rgba($white1, 0.9);
                    top: -66px;
                    right: 30px;
                    padding: $wide*3.2 0;
                    p {
                        color: $white1;
                        line-height: 1;
                        &:nth-of-type(1) {
                            margin-bottom: $wide;
                        }
                        &:nth-of-type(2) {
                            margin-bottom: $wide;
                            line-height: 1.2;
                            padding-left: $wide*2;
                            span {
                                font-size: 2rem;
                            }
                        }
                        &:nth-of-type(3) {}
                    }
                }
            }
        }
        .fBox {
            position: relative;
            height: $wide*50;
            .fBox_item {
                position: absolute;
                img {
                    width: $wide*9;
                }
                p {
                    line-height: 1.3;
                    letter-spacing: -0.8px;
                }
                &1 {
                    background: url('../images/fukidashi1.png') no-repeat center;
                    background-size: 118px 94px;
                    width: 118px;
                    height: 94px;
                    top: 0;
                    left: 0;
                    padding-top: $wide*3.1;
                }
                &2 {
                    background: url('../images/fukidashi2.png') no-repeat center;
                    background-size: 142px 92px;
                    width: 142px;
                    height: 92px;
                    top: 0;
                    right: 0;
                    padding-top: $wide*1.4;
                }
                &3 {
                    background: url('../images/fukidashi3.png') no-repeat center;
                    background-size: 195px 72px;
                    width: 195px;
                    height: 72px;
                    top: 100px;
                    left: 22%;
                    padding-top: $wide*1.8;
                }
                &4 {
                    background: url('../images/fukidashi4.png') no-repeat center;
                    background-size: 123px 123px;
                    width: 123px;
                    height: 123px;
                    top: 170px;
                    left: 0;
                    padding-top: $wide*2.8;
                }
                &5 {
                    background: url('../images/fukidashi5.png') no-repeat center;
                    background-size: 132px 122px;
                    width: 132px;
                    height: 122px;
                    top: 170px;
                    right: 0;
                    padding-top: $wide*2.8;
                }
                &6 {
                    background: url('../images/fukidashi6.png') no-repeat center;
                    background-size: 159px 97px;
                    width: 159px;
                    height: 97px;
                    bottom: 30px;
                    left: 82px;
                    font-size: 2rem;
                    padding: 20px 0 0 35px;
                }
                &_shimamoto {
                    bottom: $wide*3;
                    right: 30px;
                }
                &_rena {
                    &1 {
                        @include positionabsolutey;
                        top: 254px;
                    }
                    &2 {
                        bottom: $wide*3;
                        left: 0;
                    }
                }
                &_shimamoto {
                    bottom: $wide*3;
                    right: 0;
                }
            }
        }
        .box {
            padding: $wide*3 $wide*2;
            &_title {
                font-size: 6.3vw;
                color: $purple2;
                margin-bottom: $wide*1.4;
                letter-spacing: -1.7px;
            }
            //演技のレッスンって何をするの？
            &_lesson {
                dt,
                dd {
                    margin-bottom: $moderate;
                }
                dt {
                    position: relative;
                    margin-right: $wide*1.6;
                    span {
                        display: block;
                        font-size: $tiny_rem;
                        text-align: center;
                    }
                    .fa-check-square {
                        margin-right: 4px;
                    }
                    &:after {
                        content: ":";
                        display: block;
                        position: absolute;
                        top: -1px;
                        right: -10px;
                    }
                }
                dd {
                    &:nth-of-type(3) {
                        width: 80%;
                    }
                    &:nth-of-type(4) {
                        width: 66%;
                    }
                }
            }
            //日本ナレーション演技研究所とは
            &_about {
                .box_title {
                    color: $black1;
                    font-size: $huge_rem;
                    margin-bottom: 4px;
                }
                dt,
                dd {
                    font-size: 3.2vw;
                    &:not(:last-of-type) {
                        margin-bottom: 6px;
                    }
                }
                dt {
                    width: 23%;
                }
                dd {
                    width: 77%;
                }
            }
            //角丸線があるセクション
            &_bbradius {
                border-radius: $moderate;
                border: 2px solid $purple3;
                padding: $wide;
                margin-top: $wide*1.4;
                &_title {
                    margin-bottom: $wide;
                }
                .h_item {
                    flex-wrap: wrap;
                }
                &_famouse {}
            }
            //一例
            &_example {
                padding: 0;
                &_title {
                    background-color: $purple4;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    line-height: $wide*3;
                }
                &_list {
                    padding: $wide;
                    &_item {
                        margin: 4px 6px;
                    }
                }
            }
            &_whattodo {
                letter-spacing: -1px
            }
        }
        //演技のレッスンで養うスキルは、さまざまなシーンで活かせます
        .sList {
            &_item {
                font-size: $large_rem;
                justify-content: space-between;
                img {
                    display: block;
                    margin: 0 auto;
                }
                &:not(:last-of-type) {
                    margin-bottom: $wide*1.8;
                }
            }
        }
        //LINE風エリア
        .cLine {
            margin-top: $wide*2;
            font-size: 3.4vw;
            &_list {
                &_item {
                    &:not(:last-of-type) {
                        margin-bottom: $wide*2;
                    }
                    .circle {
                        width: $wide*6;
                    }
                }
            }
        }
        //テーブル
        table {
            width: 100%;
            color: $black2;
            th,
            td {
                padding: $moderate;
                letter-spacing: -0.6px;
            }
            th {}
            td {
                .h_item {
                    flex-wrap: wrap;
                    li {
                        &:not(:last-of-type) {
                            margin-right: $moderate;
                        }
                    }
                }
            }
        }
        //注意点
        .atList,
        .atBox {
            margin-top: $moderate;
            li {
                text-indent: -12px;
                margin-left: 10px;
            }
        }
        //SNS
        .snsList {
            padding: $wide*4 0 0;
            &_item {
                margin: 0 $wide*2;
                &:nth-of-type(1) {
                    a {
                        font-size: 2.6rem;
                    }
                }
                &:nth-of-type(2) {
                    a {
                        font-size: 3.2rem;
                    }
                }
                &:nth-of-type(3) {
                    a {
                        font-size: 3rem;
                    }
                }
                a {
                    width: $wide*5;
                    height: $wide*5;
                }
            }
        }
        //演技のレッスンって何をするの？
        .box_whattodo {
            dl {
                dd {
                    &:nth-of-type(1) {
                        width: calc(100% - 62px);
                    }
                    &:nth-of-type(2) {
                        width: calc(100% - 76px);
                    }
                    &:nth-of-type(3) {
                        width: calc(100% - 62px);
                    }
                    &:nth-of-type(4) {
                        width: calc(100% - 104px);
                    }
                }
            }
        }
    }
}